<p align="right"><%= link_to 'Logout', logout_url %></p>
<h2 align="center">Gestão Academica</h2>

<p>
  <%= link_to 'Professores', controller: 'professors' %>
</p>
<p>
  <%= link_to 'Alunos', controller: 'alunos' %>
</p>
<p>
  <%= link_to 'Disciplinas', controller: 'disciplinas' %>
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p align="center" >The time is now: <%= Time.now %></p>
