<h1>Editar - Professor</h1>

<%= form_with scope: :professor, url: professors_path, local: true do |form| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@professor.errors.count, "error") %> prohibited
        this professor from being saved:
      </h2>
      <ul>
        <% @professor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :nome_completo %><br>
    <%= form.text_field :nome %>
  </p>

  <p>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf %>
  </p>

  <p>
    <%= form.label :formacao %><br>
    <%= form.text_field :formacao %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', professors_path %>